/* ===================== */
/* 1. Reset und Basics   */
/* ===================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================== */
/* 2. Hero Section Style */
/* ===================== */

/* ===================== */
/* 1. Hero Section Style */
/* ===================== */

#hero-section {
    height: 100vh;
    background-image: url('https://cdn.dribbble.com/userupload/30758420/file/original-2cc884fefbe858d6872c0952484ef66c.gif');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.hero-content {
  max-width: 1000px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  text-align: center;
}

#start-btn {
  background-color: #ff9580;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: center;
}

#start-btn:hover {
  background-color: #ff725e;
}
