@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --color-text-dark: #2A3A44;
  --color-text-light: hsl(0, 0%, 98%);
  --text-muted: #B0BEC5;
  --dawn-blue: #5A6D78;
  --pine-green: #2F3E3B;
  --lighter-salmon: #f99c87;
  --darker-salmon: #f47f6a;
  --mocha: #4A3A33;
  --warm-orange: #FFBD7D;
  --tech-blue: #3C4F57;
  --mist-gray: #87999B;
  font-family: 'Bodoni Moda', cursive;
}

body {
    background: 
        linear-gradient(rgba(30, 42, 50, 0.85), rgba(30, 42, 50, 0.85)),
        url('/Images/lofi.gif') center/cover fixed no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-light);
}

/* Header styling */
header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  background-color: var(--dawn-blue);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-text-light);
  letter-spacing: 1.5px;
  margin: 0;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(8px);
}

/* Navigation styling */
nav {
  border-radius: 10px;
  backdrop-filter: blur(8px);
  padding: 0.5rem 1rem;
  margin-left: auto;
}

.nav__link {
  list-style: none;
  display: flex;
  align-items: space-between;
  padding: 0.3rem 0;
  margin: 0;
  position: relative;
  font-size: 1.3rem;
  color: var(--color-text-light);
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  gap: clamp(1.5rem, 5vw, 5rem);
  padding: 0;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 2px;
  left: 0;
  background-color: var(--text-muted);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav__link:hover {
  color: var(--text-muted);
}

.nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Timer styles */
#focus-timer h2 {
  font-size:2.5rem;
  font-weight: 600;
  margin: 1.5rem;
  color: var(--color-text-light);
  text-align: center;
}

.set_timer {
  margin: 1.5rem 0;
  font-size: 1.3rem;
  color: var(--color-text-light);
  text-align: center;
  cursor: default;
}

.timer-container {
  position: relative;
  width: 360px;
  height: 360px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(255,255,255,0.1), transparent);
  border-radius: 50%;
}

#timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  color: var(--color-text-light);
  user-select: none;
  transition: color 0.3s ease;
}

#timer-text:hover {
  color: var(--mist-gray);
}

.progress-ring {
  width: 360px;
  height: 360px;
  transform: rotate(0deg);
}

.progress-ring__circle {
  stroke: var(--dawn-blue) !important;
  stroke-width: 12;
  fill: transparent;
  r: 170;
  cx: 180;
  cy: 180;
  fill: transparent;
  transform-origin: 50% 50%;
  transform: rotate(-90deg) scaleY(-1);
  transition: stroke-dashoffset 1s linear;
}

/* Button styles */
.timer-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3rem;
  color: white;
}

button {
  background-color: var(--dawn-blue);
  border: none;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  color: var(--color-text-light);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(90, 109, 120, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

button:hover {
  background-color: var(--tech-blue);
  transform: translateY(-5px);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}